#chat-box {
    --chat-border: 1px solid var(--bs-dark);

    display: flex;
    border: var(--chat-border);
    border-radius: 0.5rem;
}

#chat-box #chat-area {
    flex: 1;
    border-left: var(--chat-border);
}

#chat-box #recent-chats {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    overflow-x: hidden;
    overflow-y: auto;    
}

.recent-chat { 
    transition: 0.15s; 
    user-select: none;
    cursor: pointer;
}
.recent-chat:hover {
    background-color: rgba(0,0,0,.4);
}