#layout {
    display: flex;
}

#content {
    padding: .5rem;
    overflow-y: auto;
}

#app-container {
    overflow-y: hidden;
}

@media (min-width: 576px) {
    #layout {
        height: 100dvh;
        flex-direction: row;
    }
}

@media only screen and (max-width: 800px) {
    #layout {
        width: 100dvh;
        height: 12.5rem;
        flex-direction: column;
    }
}