ul {
    list-style-type: none;
}

.unicollab-navbar {
    flex: 1;
}

.collapse {
    flex: 0;
    max-height: 0;
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    #collapse-btn {
        display: none;
    }

    .collapse {
        all: unset;
    }
}